.container {
    width: 400px;
    min-height: 300px;
    border: 3px solid white;
    padding: 12px 0;
    margin: 12px 0;
    /* background-color: rgb(94, 110, 122); */
    color: white;
    position: relative;
    overflow: hidden; 
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    transition: all 0.5s ease;
}

.container:hover {
    transform: scale(1.02);
}

.container .bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s ease;

    padding: 0;
}

.container:hover .bg {
    filter: brightness(60%);
}

.container .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    padding: 0;
    z-index: 1;
}

.space {
    height: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .name {
    padding: 0;
}

.header .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.header .buttons .button, .header .buttons .button a {
    padding: 0;
    text-decoration: none;
}

.url {
    align-self: flex-start;
}

.url a {
    text-decoration: none;
    padding: 0;
}

.description {
    text-align: left;
    margin-top: 12px;
}